%h2 Profile

= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.inputs :name => "Personal Info" do
    = f.input :email, :as => :email
    = f.input :first_name
    = f.input :last_name
    = f.input :phone_number
    = f.input :dob, :label => "Date of birth", :as => :date_select, :start_year => 100.year.ago.year, :end_year => Time.now.year, :include_blank => false

  = f.inputs :name => "Contact" do
    = f.semantic_fields_for :address do |f|
      = f.input :address_1
      = f.input :address_2
      = f.input :city
      = f.input :state
      = f.input :country
      = f.input :zip_code

  = f.actions do
    = f.action(:submit, :label => "Update profile")

= link_to "Change password", edit_profile_password_path
