%fieldset.inputs
  %legend Address
  %ul
    %li
      %label Line1
      %label.value= address.line1
    %li
      %label Line2
      %label.value= address.line2
    %li
      %label City
      %label.value= address.city
    %li
      %label State
      %label.value= address.state
    %li
      %label Zip
      %label.value= address.zip
    %li
      %label Country
      %label.value= address.country
