= f.inputs "Address" do
  = f.input :line1
  = f.input :line2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :country, :as => :country, :include_blank => true
  = f.link_to_remove "Remove address"
