= f.semantic_fields_for :guest, "Guest" do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :gender, :as => :select, :collection => Guest::GENDERS
  = f.input :passport
  = f.input :phone
