= semantic_form_for [@hotel, @check_in] do |f|
  = f.inputs do
    = render '/shared/guest_fields', :f => f
    = f.input :adults
    = f.input :children
    = f.input :rooms, :collection => @hotel.rooms.available, :as => :check_boxes
    = f.input :special_request
    = f.semantic_fields_for :prepaid do |f|
      = f.input :dollars, :label => "Prepaid"
      = f.input :currency, :as => :select, :collection => @currencies

  = f.actions do
    = f.action(:submit)
