= f.inputs do
  = f.input :name
  = f.semantic_fields_for :price do |f|
    = f.input :dollars, :label => "Price"
    = f.input :currency, :as => :select, :collection => @currencies
  = f.input :description
  = f.input :image

= f.actions do
  = f.action(:submit)
