= semantic_form_for @room_type, :url => (@room_type.persisted? ? resource_path : collection_path) do |f|
  = f.inputs "Details" do
    = f.input :name
    = f.input :description
  = f.semantic_fields_for :price do |f|
    = f.inputs "Price" do
      = f.input :dollars, :as => :number
      = f.input :currency, :as => :currency

  = f.actions do
    = f.action :submit, :as => :button, :button_html => {:class => "btn"}
