%h2 Set your password

= semantic_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.input :invitation_token, :as => :hidden

  = f.inputs :name => "Credentials" do
    = f.input :username
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password

  = f.inputs :name => "Personal Info" do
    = f.input :first_name
    = f.input :last_name
    = f.input :phone_number
    = f.input :dob, :as => :date, :start_year => 100.year.ago.year, :end_year => Time.now.year, :include_blank => false

  = f.inputs :name => "Contact" do
    = f.input :address1
    = f.input :address2
    = f.input :city
    = f.input :state
    = f.input :country
    = f.input :zip_code

  = f.actions do
    = f.action(:submit, :label => "Update info")
