= f.inputs do
  = f.input :status, :as => :select, :collection => Reservation::STATUS.values
  = f.semantic_fields_for :guest, "Guest" do |f|
    = f.input :first_name
    = f.input :last_name
    = f.input :national_id_number
    = f.input :phone_number
  -#= f.input :room, :as => :select, :collection => @hotel.rooms.map{|r| [r.name, r.id]}
  = f.input :check_in_date, :as => :date_picker
  = f.input :check_out_date, :as => :date_picker
  = f.semantic_fields_for :prepaid do |f|
    = f.input :dollars, :label => "Prepaid"
    = f.input :currency, :as => :select, :collection => @currencies

= f.actions do
  = f.action(:submit)
