%h1 Listing reservations

%table#reservations
  %thead
    %tr
      %th Room
      %th Guest
      %th User
      %th Status
      %th Prepaid in cents
      %th Currency
      %th Check in date
      %th Check out date
      %th
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      %tr{:id => "reservation_#{reservation.id}"}
        %td= reservation.room_id
        %td= reservation.guest_id
        %td= reservation.user_id
        %td= reservation.status
        %td= reservation.prepaid_in_cents
        %td= reservation.currency
        %td= reservation.check_in_date
        %td= reservation.check_out_date
        %td= link_to 'Show', room_reservation_path(@room, reservation)
        %td= link_to 'Edit', edit_room_reservation_path(@room, reservation)
        %td= link_to 'Delete', room_reservation_path(@room, reservation), :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

= link_to 'New Reservation', new_room_reservation_path(@room)
