#footer_content
  %ul.footer_nav
    %li= link_to "About", "#"
    %li= link_to "Support", "#"
    %li= link_to "Feedback", "#"
    %li= link_to "Terms", "#"
    %li= link_to "Policies", "#"
    %li= link_to "Contact us", "#"
  %ul.social
    %li= link_to "Twitter", "#", :id => "twitter_link"
    %li= link_to "Facebook", "#", :id => "facebook_link"
