- content_for :head do
  = javascript_include_tag 'rooms'

= f.inputs do
  = f.input :number
  = f.input :room_type, :as => :select, :collection => @hotel.room_types.map{|h| [h.name, h.id]}

= f.actions do
  = f.action(:submit)
