= semantic_form_for [@hotel, @room] do |f|
  = f.inputs do
    = f.input :name
    = f.input :room_type, :collection => @hotel.room_types
  = f.actions do
    = f.action :submit, :as => :button, :button_html => {:class => "btn"}
