- content_for :head do
  = javascript_include_tag "#{Settings.google_map.server}/maps/api/js?key=#{Settings.google_map.api_key}&sensor=false"
  = javascript_include_tag 'hotels'

%h1 Editing hotel

= render 'form'

= link_to 'Show', @hotel
\|
= link_to 'Delete', @hotel, :confirm => "Are you sure?", :method => :delete
\|
= link_to 'Back', hotels_path
