%h1 Editing hotel

= semantic_form_for @hotel, :url => user_hotel_path(@owner, @hotel), :method => :put do |f|
  = render :partial => 'form_content', :locals => {:f => f}

= render 'google_map'

= link_to 'Show', user_hotel_path(@owner, @hotel)
\|
= link_to 'Delete', user_hotel_path(@owner, @hotel), :confirm => "Are you sure?", :method => :delete
\|
= link_to 'Back', user_hotels_path
- if @hotel.lat.present? && @hotel.lng.present?
  :coffeescript
    @lat = #{@hotel.lat}
    @lng = #{@hotel.lng}
