- content_for :head do
  = stylesheet_link_tag 'hotels'
  = javascript_include_tag "#{GoogleMapSettings.server}/maps/api/js?key=AIzaSyBrp5OKFAdzY1xre8m-Fbq3VuoswPv2Y7s&sensor=false"
  = javascript_include_tag 'hotel'

= semantic_form_for @hotel, :method => :put do |f|
  .heading
    %h1 Edit Hotel
  %hr
  .form_content
    = render :partial => 'form_content', :locals => {:f => f}
  = render 'google_map'

= link_to 'Show', hotel_path(@hotel)
\|
= link_to 'Delete', hotel_path(@hotel), :confirm => "Are you sure?", :method => :delete
\|
= link_to 'Back', hotels_path
- if @hotel.lat.present? && @hotel.lng.present?
  :coffeescript
    @lat = #{@hotel.lat}
    @lng = #{@hotel.lng}
