- content_for :head do
  = stylesheet_link_tag 'hotels'
  = javascript_include_tag "#{GoogleMapSettings.server}/maps/api/js?key=AIzaSyBrp5OKFAdzY1xre8m-Fbq3VuoswPv2Y7s&sensor=false"
  = javascript_include_tag 'hotel'

= semantic_form_for @hotel, :validate => true do |f|
  .heading
    %h1 Create New Hotel
  %hr
  .form_content
    = render :partial => 'form_content', :locals => {:f => f}
  = render 'google_map'
