%h2= "Hotel #{@hotel.name}"
%p
  %b Name:
  = @hotel.name
%p
  %b Address1:
  = @hotel.address1
%p
  %b Address2:
  = @hotel.address2
%p
  %b City:
  = @hotel.city
%p
  %b State:
  = @hotel.state
%p
  %b Country:
  = @hotel.country
%p
  %b Zip code:
  = @hotel.zip_code
%p
  %b Phone number:
  = @hotel.phone_number
%p
  %b Lat:
  = @hotel.lat
%p
  %b Lng:
  = @hotel.lng

= link_to 'Edit', edit_hotel_path(@hotel)
\|
= link_to 'Delete', hotel_path(@hotel), :data => { :confirm => "Are you sure?" }, :method => :delete
\|
= link_to 'Back', hotels_path
