%html
  %head
    %title Hotel Management
    = stylesheet_link_tag 'session'
    = javascript_include_tag 'session'
    = csrf_meta_tags
    = yield :head
  %body
    #flash
      - flash.each do |type, message|
        %div{ :id => type }
          = message
    = yield
